# <font color='red'> Coda.Br 2022 </font>

Turbinando a análise de dados com Python (para pessoas usuárias de Excel)

# <font color='red'> Como criar um arquivo Colab:</font>

Podemos de duas maneiras:    

1.   Via: https://colab.research.google.com; ou 
2.   Via **Google Drive**, conforme a imagem abaixo:

![colab.png]()

O **Colab** conecta o seu notebook na nuvem do Google, isso significa que você pode rodar o Python sem precisar configurar nada em sua máquina. (e isso é excelente, pois não precisamos nos preocupar com instalações em nossa máquina local).

## <font color='red'> Células Colab (Notebook) vs. Excel </font>

Assim como o **Excel**, o **Python** tem células e nelas podemos inserir códigos, textos, imagens e etc.

# <font color='red'> Introdução ao Python </font>

- número inteiro
- número decimal 
- texto (string)
- tipos de dados
    
**Cometários nas células**

Utilizar o **#** nas células nos dá instruções e lembretes dos nossos códigos, eles ajudam outros usários e nós mesmos de lembrar o que o código está fazendo.

In [1]:
# inteiro
num_inteiro = 13
num_inteiro

13

In [2]:
# float
num_float = 13.13
num_float

13.13

In [3]:
# string
txt = 'Deborah'
txt

'Deborah'

In [4]:
# verificando o tipo de dados
type(num_inteiro)

int

In [5]:
# convertendo o tipo de dados 
float(num_inteiro)

13.0

In [6]:
# operação simples matemática
1 + 1

2

# <font color='red'> O que é biblioteca? </font>

Algumas bibliotecas vem inclusas por padrão no Python.

Por exemplo, a biblioteca *math* é parte das bibliotecas padrão do Python. Por isso, não precisamos instalar nada, apenas precisamos fazer a importação dela.

In [7]:
# Biblioteca math
import math

# função *SUM* é da biblioteca Math, usamos o parênteses é igual no Excel
sum([1,1])

2

## <font color='red'> Biblioteca Pandas </font>

A biblioteca **Pandas** possui código aberto que fornece estruturas de dados de alta performance e fácil de utilizar e é também uma ótima ferramenta para manipulação de dados.

O nome **Pandas** vem da combinação de *Panel Data e Python Data Analysis*.

O apelido usado pela comunidade para o **Pandas** é o **pd**, portanto, carregar o **Pandas** e nomear como pd é considerado uma prática padrão para toda a documentação do **Pandas**.

Ela possui uma ótima documentação:
https://pandas.pydata.org/

In [ ]:
# instalando a biblioteca Pandas
!pip install pandas

In [8]:
# importando a biblioteca Pandas
import pandas as pd

# <font color='red'> Estrutura de Dados </font>

Vamos entender como é a estrutura de dados em **Pandas**.

## <font color='red'> Dataframe </font>

**DataFrame** é uma estrutura de dados tabular bidimensional mutável em tamanho, e pode armazenar diferentes tipos de dados (int, float, string, date e etc.), com eixos rotulados (linhas e colunas), estrutura parecida com uma planilha de Excel/ Google Sheet.

![dataframe.PNG]()

In [9]:
# criando uma lista de textos, listas são indicadas por colchetes
lista = ['Coda.Br', 2022, 'Excel', 'Python']
type(lista)

list

**Nota:**

Uma lista é uma sequência de valores, assim como uma *string*.

Em uma *string*, os valores são caracteres, por outro lado, em uma lista, os valores podem ser de qualquer tipo. 

Os valores em lista são chamados de elementos ou às vezes chamamos de itens.

In [10]:
# criando um dataframe com a lista criada anteriormente
dataframe = pd.DataFrame(lista, columns=['descrição'])
dataframe

  descrição
0   Coda.Br
1      2022
2     Excel
3    Python

## <font color='red'> Series </font>

**Seires** é uma matriz rotulada unidimensional capaz de conter qualquer tipo de dados (inteiros, strings (texto), números decimal, objetos Python, etc.), os rótulos dos eixos são chamados de índice. 

Cada coluna no *dataframe* é uma series, é igual uma coluna no Excel/ Google Sheet.

O índice começa no zero, lembrando que no Excel o índice começa no 1.

![serie.PNG]()

In [12]:
# criando uma series 
lista = ['Coda.Br', 2022, 'Excel', 'Python']
series = pd.Series(lista)
series

0    Coda.Br
1       2022
2      Excel
3     Python
dtype: object

# <font color='red'> Importar arquivos xlsx e csv </font>

![importData.PNG]()



1.   Precisamos carregar o arquivo para o ambiente Colab;
2.   Iremos usar o método *read_csv* da biblioteca **Pandas** para importar arquivos de extesão csv, podemos também usar o *read_excel* para importar arquivos de extesão xls ou xlsx.

**Fonte:**

Dados Abertos da ALESP: http://www.transparencia.sp.gov.br/buscaRemunera.html

In [16]:
# Biblioteca que faz chamada para o Google Drive
from google.colab import drive

# Solicitando autorização na sua conta do Google Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [29]:
dados = pd.read_csv('/content/drive/My Drive/2.Workshops/codaBr_2022/dados/remuneracao_202208.zip',
                    sep=';', 
                    decimal=',',
                    encoding='latin-1')
dados

,NOME,CARGO,ORGÃO,REMUNERAÇÃO DO MÊS,FÉRIAS E 13º SALÁRIO,PAGAMENTOS EVENTUAIS,LICENÇA PRÊMIO INDENIZADA,ABONO PERMANÊNCIA & OUTRAS INDENIZAÇÕES,REDUTOR SALARIAL,TOTAL LIQUÍDO (R$),GRUPO
0,AAIRON TELES DE CAMARGO,OFICIAL ADMINISTRATIVO,DEPTO. EST. TRANSITO DETRAN SP,2645.13,0.00,0.00,0.0,105.29,0.0,914.68,ATIVOS
1,AALAN DA SILVA ARAUJO,SD 1C PM,POLICIA MILITAR SAO PAULO,4469.53,0.00,5744.25,0.0,479.55,0.0,6822.99,ATIVOS
2,AARAN ESTEVAO LIMA BARBOSA,CAP PM,POLICIA MILITAR SAO PAULO,13135.95,0.00,2898.00,0.0,255.76,0.0,9070.33,ATIVOS
3,AARAO DE OLIVEIRA,MAJ PM,SAO PAULO PREVIDENCIA SPPREV,17921.51,0.00,0.00,0.0,0.00,0.0,15838.47,APOSENTADOS
4,AARON DOUGLAS OLIVEIRA,CABO PM,POLICIA MILITAR SAO PAULO,5348.25,0.00,517.50,0.0,959.10,0.0,5380.80,ATIVOS
...,...,...,...,...,...,...,...,...,...,...,...
1080814,ZUZU DE OLIVEIRA,BENEFICIARIO DE SERVIDOR ESTADUAL-IPESP,SAO PAULO PREVIDENCIA SPPREV,2900.09,1450.05,0.00,0.0,0.00,0.0,3902.31,PENSIONISTAS
1080815,ZVONIMIR SERGIO SAVRON,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,2275.00,0.00,0.00,0.0,0.00,0.0,2074.60,ATIVOS
1080816,ZVONIMIRO VARVELLO PESUT,BENEFICIARIO DE SERVIDOR ESTADUAL-IPESP,SAO PAULO PREVIDENCIA SPPREV,1212.00,0.00,0.00,0.0,0.00,0.0,1108.75,PENSIONISTAS
1080817,ZVONIMIRO VARVELLO PESUT,CHEFE I,SAO PAULO PREVIDENCIA SPPREV,2708.80,0.00,0.00,0.0,0.00,0.0,2341.38,APOSENTADOS
1080818,ZYON FERNANDO DA CRUZ,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,7000.00,0.00,0.00,0.0,0.00,0.0,4488.16,ATIVOS

**Nota:** 1.048.576 linhas por 16.384 colunas do Excel.

In [30]:
# verificando a dimensao dos dados
dados.shape

(1080819, 11)

In [31]:
# verificando os nomes das colunas
dados.columns

Index(['NOME', 'CARGO', 'ORGÃO', 'REMUNERAÇÃO DO MÊS', 'FÉRIAS E 13º SALÁRIO',
       'PAGAMENTOS EVENTUAIS', 'LICENÇA PRÊMIO INDENIZADA',
       'ABONO PERMANÊNCIA & OUTRAS INDENIZAÇÕES', 'REDUTOR SALARIAL',
       'TOTAL LIQUÍDO (R$)', 'GRUPO'],
      dtype='object')

In [32]:
# retorna por padrao as 5 primeiras linhas 
dados.head()

,NOME,CARGO,ORGÃO,REMUNERAÇÃO DO MÊS,FÉRIAS E 13º SALÁRIO,PAGAMENTOS EVENTUAIS,LICENÇA PRÊMIO INDENIZADA,ABONO PERMANÊNCIA & OUTRAS INDENIZAÇÕES,REDUTOR SALARIAL,TOTAL LIQUÍDO (R$),GRUPO
0,AAIRON TELES DE CAMARGO,OFICIAL ADMINISTRATIVO,DEPTO. EST. TRANSITO DETRAN SP,2645.13,0.0,0.00,0.0,105.29,0.0,914.68,ATIVOS
1,AALAN DA SILVA ARAUJO,SD 1C PM,POLICIA MILITAR SAO PAULO,4469.53,0.0,5744.25,0.0,479.55,0.0,6822.99,ATIVOS
2,AARAN ESTEVAO LIMA BARBOSA,CAP PM,POLICIA MILITAR SAO PAULO,13135.95,0.0,2898.00,0.0,255.76,0.0,9070.33,ATIVOS
3,AARAO DE OLIVEIRA,MAJ PM,SAO PAULO PREVIDENCIA SPPREV,17921.51,0.0,0.00,0.0,0.00,0.0,15838.47,APOSENTADOS
4,AARON DOUGLAS OLIVEIRA,CABO PM,POLICIA MILITAR SAO PAULO,5348.25,0.0,517.50,0.0,959.10,0.0,5380.80,ATIVOS

In [33]:
# retorna por padrao as 5 ultimas linhas 
dados.tail()

,NOME,CARGO,ORGÃO,REMUNERAÇÃO DO MÊS,FÉRIAS E 13º SALÁRIO,PAGAMENTOS EVENTUAIS,LICENÇA PRÊMIO INDENIZADA,ABONO PERMANÊNCIA & OUTRAS INDENIZAÇÕES,REDUTOR SALARIAL,TOTAL LIQUÍDO (R$),GRUPO
1080814,ZUZU DE OLIVEIRA,BENEFICIARIO DE SERVIDOR ESTADUAL-IPESP,SAO PAULO PREVIDENCIA SPPREV,2900.09,1450.05,0.0,0.0,0.0,0.0,3902.31,PENSIONISTAS
1080815,ZVONIMIR SERGIO SAVRON,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,2275.00,0.00,0.0,0.0,0.0,0.0,2074.60,ATIVOS
1080816,ZVONIMIRO VARVELLO PESUT,BENEFICIARIO DE SERVIDOR ESTADUAL-IPESP,SAO PAULO PREVIDENCIA SPPREV,1212.00,0.00,0.0,0.0,0.0,0.0,1108.75,PENSIONISTAS
1080817,ZVONIMIRO VARVELLO PESUT,CHEFE I,SAO PAULO PREVIDENCIA SPPREV,2708.80,0.00,0.0,0.0,0.0,0.0,2341.38,APOSENTADOS
1080818,ZYON FERNANDO DA CRUZ,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,7000.00,0.00,0.0,0.0,0.0,0.0,4488.16,ATIVOS

In [34]:
# algumas informacoes dos dados
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080819 entries, 0 to 1080818
Data columns (total 11 columns):
 #   Column                                   Non-Null Count    Dtype
---  ------                                   --------------    -----
 0   NOME                                     1080819 non-null  object
 1   CARGO                                    1080453 non-null  object
 2   ORGÃO                                    1080819 non-null  object
 3   REMUNERAÇÃO DO MÊS                       1080819 non-null  float64
 4   FÉRIAS E 13º SALÁRIO                     1080819 non-null  float64
 5   PAGAMENTOS EVENTUAIS                     1080819 non-null  float64
 6   LICENÇA PRÊMIO INDENIZADA                1080819 non-null  float64
 7   ABONO PERMANÊNCIA & OUTRAS INDENIZAÇÕES  1080819 non-null  float64
 8   REDUTOR SALARIAL                         1080819 non-null  float64
 9   TOTAL LIQUÍDO (R$)                       1080819 non-null  float64
 10  GRUPO                                    1080819 non-null  object
dtypes: float64(7), object(4)
memory usage: 90.7+ MB

# <font color='red'> Queremos responder algumas perguntas, a partir dos dados de remuneração de funcionários do município de SP que carregamos. </font>

1. Qual foi o valor total pago no mês de agosto de 2022?

2. Qual a quantidade de pessoas em cada status: Ativos, Aposentados e Pensionistas?

3. Qual o custo de pagamento pela Secretária da Educação por Cargo?

4. Qual o custo de pagamento por Orgão e Cargo?

## 1. Qual foi o valor pago no mês de agosto de 2022?

In [37]:
# utilizando a função sum
dados.sum(numeric_only=True)

REMUNERAÇÃO DO MÊS                        6,498,627,996.54
FÉRIAS E 13º SALÁRIO                        305,840,767.93
PAGAMENTOS EVENTUAIS                        361,707,183.48
LICENÇA PRÊMIO INDENIZADA                    30,603,220.61
ABONO PERMANÊNCIA & OUTRAS INDENIZAÇÕES     164,139,375.76
REDUTOR SALARIAL                           -123,102,559.75
TOTAL LIQUÍDO (R$)                        5,004,915,260.58
dtype: float64

In [36]:
# formatando os valores float
pd.options.display.float_format = '{:,.2f}'.format

In [38]:
# utilizando a função sum
dados.sum(numeric_only=True).sort_values(ascending=False)

REMUNERAÇÃO DO MÊS                        6,498,627,996.54
TOTAL LIQUÍDO (R$)                        5,004,915,260.58
PAGAMENTOS EVENTUAIS                        361,707,183.48
FÉRIAS E 13º SALÁRIO                        305,840,767.93
ABONO PERMANÊNCIA & OUTRAS INDENIZAÇÕES     164,139,375.76
LICENÇA PRÊMIO INDENIZADA                    30,603,220.61
REDUTOR SALARIAL                           -123,102,559.75
dtype: float64

## 2. Qual a quantidade de pessoas em cada status: Ativos, Aposentados e Pensionistas?

In [40]:
# utilizando a função valeu counts 
dados['GRUPO'].value_counts()

ATIVOS          562428
APOSENTADOS     370524
PENSIONISTAS    147867
Name: GRUPO, dtype: int64

In [41]:
# utilizando a função valeu counts c/ proporção dos valores 
dados['GRUPO'].value_counts(normalize=True)

ATIVOS         0.52
APOSENTADOS    0.34
PENSIONISTAS   0.14
Name: GRUPO, dtype: float64

## 3. Qual o valor pago para a área da Educação?

### Selecionando por coluna

![filtro.PNG]()

In [43]:
# filtrando por coluna
dados.loc[:, 'ORGÃO']

0          DEPTO. EST. TRANSITO DETRAN SP
1               POLICIA MILITAR SAO PAULO
2               POLICIA MILITAR SAO PAULO
3          SAO PAULO PREVIDENCIA   SPPREV
4               POLICIA MILITAR SAO PAULO
                        ...
1080814    SAO PAULO PREVIDENCIA   SPPREV
1080815            SECRETARIA DA EDUCACAO
1080816    SAO PAULO PREVIDENCIA   SPPREV
1080817    SAO PAULO PREVIDENCIA   SPPREV
1080818            SECRETARIA DA EDUCACAO
Name: ORGÃO, Length: 1080819, dtype: object

### Selecionando por linhas

![filtroRows.PNG]()

In [44]:
# filtrando por coluna
dados.loc[1080815, :]

NOME                                              ZVONIMIR SERGIO SAVRON
CARGO                                      PROF ENSINO FUNDAMENTAL/MEDIO
ORGÃO                                             SECRETARIA DA EDUCACAO
REMUNERAÇÃO DO MÊS                                              2,275.00
FÉRIAS E 13º SALÁRIO                                                0.00
PAGAMENTOS EVENTUAIS                                                0.00
LICENÇA PRÊMIO INDENIZADA                                           0.00
ABONO PERMANÊNCIA & OUTRAS INDENIZAÇÕES                             0.00
REDUTOR SALARIAL                                                    0.00
TOTAL LIQUÍDO (R$)                                              2,074.60
GRUPO                                                             ATIVOS
Name: 1080815, dtype: object

In [45]:
# selecionando uma linha (DataFrame) - 2 dimensões (utilizando .loc)
dados.loc[[1080815], :]

,NOME,CARGO,ORGÃO,REMUNERAÇÃO DO MÊS,FÉRIAS E 13º SALÁRIO,PAGAMENTOS EVENTUAIS,LICENÇA PRÊMIO INDENIZADA,ABONO PERMANÊNCIA & OUTRAS INDENIZAÇÕES,REDUTOR SALARIAL,TOTAL LIQUÍDO (R$),GRUPO
1080815,ZVONIMIR SERGIO SAVRON,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,"2,275.00",0.00,0.00,0.00,0.00,0.00,"2,074.60",ATIVOS

In [46]:
# criando um filtro com apenas os dados da SECRETARIA DA EDUCACAO
dados['ORGÃO'] == 'SECRETARIA DA EDUCACAO'

0          False
1          False
2          False
3          False
4          False
           ...
1080814    False
1080815     True
1080816    False
1080817    False
1080818     True
Name: ORGÃO, Length: 1080819, dtype: bool

In [47]:
filtro = dados['ORGÃO'] == 'SECRETARIA DA EDUCACAO'
filtro

0          False
1          False
2          False
3          False
4          False
           ...
1080814    False
1080815     True
1080816    False
1080817    False
1080818     True
Name: ORGÃO, Length: 1080819, dtype: bool

In [48]:
# filtrando o dataframe 
dados.loc[filtro]

,NOME,CARGO,ORGÃO,REMUNERAÇÃO DO MÊS,FÉRIAS E 13º SALÁRIO,PAGAMENTOS EVENTUAIS,LICENÇA PRÊMIO INDENIZADA,ABONO PERMANÊNCIA & OUTRAS INDENIZAÇÕES,REDUTOR SALARIAL,TOTAL LIQUÍDO (R$),GRUPO
8,AARON MARQUES FRE,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,"2,975.00",0.00,0.00,0.00,0.00,0.00,"2,648.63",ATIVOS
22,ABADIA DONIZETE REZENDE,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,"5,000.00",0.00,0.00,0.00,0.00,0.00,"4,095.60",ATIVOS
47,ABATA APARECIDA RIBEIRO ROCHA,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,"3,317.50",0.00,0.00,0.00,0.00,0.00,"2,913.64",ATIVOS
56,ABDA PESSONI M CAMARGO,DIRETOR DE ESCOLA,SECRETARIA DA EDUCACAO,"8,767.79",0.00,0.00,0.00,450.00,0.00,"6,684.38",ATIVOS
57,ABDA SILVA DE SANTANA,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,0.00,0.00,754.78,0.00,-45.28,0.00,626.47,ATIVOS
...,...,...,...,...,...,...,...,...,...,...,...
1080796,ZUMELICE FERREIRA LIMA,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,"3,327.38",0.00,392.86,0.00,0.00,0.00,"3,317.10",ATIVOS
1080801,ZUNAIDE DOS SANTOS ARAUJO,PROFESSOR EDUCACAO BASICA I,SECRETARIA DA EDUCACAO,"4,655.75",0.00,666.88,0.00,0.00,0.00,"4,246.86",ATIVOS
1080810,ZURMA DE SOUZA PINTO BERNARDI,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,"7,000.00",0.00,0.00,0.00,0.00,0.00,"5,352.63",ATIVOS
1080815,ZVONIMIR SERGIO SAVRON,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,"2,275.00",0.00,0.00,0.00,0.00,0.00,"2,074.60",ATIVOS
1080818,ZYON FERNANDO DA CRUZ,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,"7,000.00",0.00,0.00,0.00,0.00,0.00,"4,488.16",ATIVOS

In [49]:
# salvando o dataframe em uma nova variável
dados_educacao = dados.loc[filtro]
dados_educacao

,NOME,CARGO,ORGÃO,REMUNERAÇÃO DO MÊS,FÉRIAS E 13º SALÁRIO,PAGAMENTOS EVENTUAIS,LICENÇA PRÊMIO INDENIZADA,ABONO PERMANÊNCIA & OUTRAS INDENIZAÇÕES,REDUTOR SALARIAL,TOTAL LIQUÍDO (R$),GRUPO
8,AARON MARQUES FRE,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,"2,975.00",0.00,0.00,0.00,0.00,0.00,"2,648.63",ATIVOS
22,ABADIA DONIZETE REZENDE,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,"5,000.00",0.00,0.00,0.00,0.00,0.00,"4,095.60",ATIVOS
47,ABATA APARECIDA RIBEIRO ROCHA,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,"3,317.50",0.00,0.00,0.00,0.00,0.00,"2,913.64",ATIVOS
56,ABDA PESSONI M CAMARGO,DIRETOR DE ESCOLA,SECRETARIA DA EDUCACAO,"8,767.79",0.00,0.00,0.00,450.00,0.00,"6,684.38",ATIVOS
57,ABDA SILVA DE SANTANA,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,0.00,0.00,754.78,0.00,-45.28,0.00,626.47,ATIVOS
...,...,...,...,...,...,...,...,...,...,...,...
1080796,ZUMELICE FERREIRA LIMA,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,"3,327.38",0.00,392.86,0.00,0.00,0.00,"3,317.10",ATIVOS
1080801,ZUNAIDE DOS SANTOS ARAUJO,PROFESSOR EDUCACAO BASICA I,SECRETARIA DA EDUCACAO,"4,655.75",0.00,666.88,0.00,0.00,0.00,"4,246.86",ATIVOS
1080810,ZURMA DE SOUZA PINTO BERNARDI,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,"7,000.00",0.00,0.00,0.00,0.00,0.00,"5,352.63",ATIVOS
1080815,ZVONIMIR SERGIO SAVRON,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,"2,275.00",0.00,0.00,0.00,0.00,0.00,"2,074.60",ATIVOS
1080818,ZYON FERNANDO DA CRUZ,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,"7,000.00",0.00,0.00,0.00,0.00,0.00,"4,488.16",ATIVOS

In [50]:
# respondendo a pergunta:
dados_educacao['REMUNERAÇÃO DO MÊS'].sum()

1284253023.76

## 4. Qual o custo de pagamento pela Secretária da Educação por Cargo?

In [60]:
# utilizando a função groupby + agg
pvt = dados_educacao.groupby(['ORGÃO', 'CARGO'])['REMUNERAÇÃO DO MÊS'].agg(['sum', 'count'])
pvt

                                                                sum   count
ORGÃO                  CARGO
SECRETARIA DA EDUCACAO AG.TEC. DE ASSIST. A SAUDE         72,511.08      31
                       AGENTE DE ORGANIZACAO ESCOLAR  83,125,258.06   31368
                       AGENTE DE SERVICOS ESCOLARES    4,905,935.49    2290
                       ANALISTA  ADMINISTRATIVO          706,068.15     221
                       ANALISTA DE TECNOLOGIA            252,579.76      82
                       ANALISTA SOCIOCULTURAL            102,153.59      32
                       ASSESSOR DE GABINETE I              4,615.36       2
                       ASSESSOR DE GABINETE II             2,526.32       1
                       ASSESSOR I                         13,959.47       8
                       ASSESSOR II                       760,739.65     370
                       ASSESSOR TEC. DE COORDENADOR       57,882.28       9
                       ASSESSOR TEC. DE GABINETE I        26,013.30       7
                       ASSESSOR TEC. DE GABINETE II       71,255.59      15
                       ASSESSOR TEC. DE GABINETE III     155,619.35      28
                       ASSESSOR TEC. DE GABINETE IV      140,447.18      15
                       ASSESSOR TECNICO I                236,946.50      83
                       ASSESSOR TECNICO II                85,987.22      25
                       ASSESSOR TECNICO III              169,329.68      38
                       ASSESSOR TECNICO IV                90,967.88      19
                       ASSESSOR TECNICO V                153,061.16      28
                       ASSISTENTE ADM. ESCOLAR           201,128.45      49
                       AUXILIAR SERV.GERAIS              365,536.97     163
                       CHEFE I                             3,840.43       1
                       COORDENADOR                        54,831.94       5
                       DIRETOR DE ESCOLA              43,969,441.22    4532
                       DIRETOR ESCOLAR                   982,552.78     110
                       DIRETOR I                       2,389,828.25     628
                       DIRETOR II                        448,427.93      93
                       DIRETOR TECNICO I               1,594,837.84     318
                       DIRETOR TECNICO II              1,407,415.31     234
                       DIRETOR TECNICO III               146,463.32      19
                       DIRIGENTE REGIONAL DE ENSINO    1,400,498.39      90
                       ESTAGIARIO                          1,031.63       1
                       EXECUTIVO PUBLICO               1,377,848.87     263
                       OFICIAL ADMINISTRATIVO          1,912,879.62     819
                       OFICIAL OPERACIONAL                 4,175.14       2
                       OUTROS VINCULOS                     7,583.85      13
                       PROF ENSINO FUNDAMENTAL/MEDIO 511,530,236.30  102682
                       PROFESSOR EDUCACAO BASICA I    84,746,209.44   18330
                       PROFESSOR EDUCACAO BASICA II  518,480,911.37   97648
                       PROFESSOR EDUCACAO BASICA-I       891,298.65     143
                       PROFESSOR II                        5,240.43      24
                       SECRETARIO DE ESCOLA            5,882,137.57    1306
                       SECRETARIO DE ESTADO               20,743.72       1
                       SECRETARIO EXECUTIVO               24,843.05       2
                       SUPERVISOR DE ENSINO           15,048,703.84    1480
                       SUPERVISOR EDUCACIONAL            220,520.38      27

# <font color='red'> Mapa de Calor </font>

In [54]:
# biblioteca seaborn
import seaborn as sns

In [62]:
# paleta de cor
paleta_cor = sns.light_palette('red', as_cmap=True)

In [63]:
# cores gradientes
pvt.style.background_gradient(cmap=paleta_cor).set_precision(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`